body {
  background: linear-gradient(to right, #ff0000 0%, #ff0000 50%, #26ff31 50%, #26ff31 100%);
}
.container {
 max-width: 1400px;
 margin: 0 auto;
}
h1 {
  font-size: 8rem;
  text-align: center;
}

li {
  list-style: none;
}
.serves-bunner {
  display: flex;
  justify-content: space-between;
}
.item-wrapper {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-wrapper div {
  width: 25%;
  padding: 1.6rem;
  background: #fff;
  margin: 1rem;
}
